.new-task__controls {
    display: block;
    margin-bottom: 3rem;
    margin-top: 3rem;
    text-align: center;
}

.new-task__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    display: block;
    text-align: left;
}

.new-task__control input
{
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 100vh;
    max-width: 100%;
}
.new-task__control select {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 103vh;
    max-width: 100%;
    background-color: white;
}

.new-task__actions {
    text-align: center;
}